<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link <%= 'collapsed' if !current_page?(root_path) %>" href="<%= root_path %>">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link <%= 'collapsed' if !current_page?(about_path) %>" href="<%= about_path %>">
        <i class="bi bi-exclamation-square"></i>
        <span>關於專題</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link <%= 'collapsed' if !current_page?(team_members_path) %>" href="<%= team_members_path %>">
        <i class="bi bi-person"></i>
        <span>成員介紹</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link <%= 'collapsed' if !current_page?(dataset_info_path) %>" href="<%= dataset_info_path %>">
        <i class="bi bi-server"></i>
        <span>資料背景概述</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link <%= 'collapsed' if !(current_page?('/sales_intro') || current_page?('/sales_core_model') || current_page?('/sales_model_training') || current_page?('/sales_conclusion')) %>" data-bs-target="#sales" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bag-check-fill"></i><span>專題: 銷售小組</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="sales" class="nav-content collapse <%= 'show' if current_page?('/sales_intro') || current_page?('/sales_core_model') || current_page?('/sales_model_training') || current_page?('/sales_conclusion') %>" data-bs-parent="#sidebar-nav">
        <li>
          <a href="/sales_intro" class="<%= 'active' if current_page?('/sales_intro') %>">
            <i class="bi bi-file-earmark-font"></i><span>研究摘要(目的與動機)</span>
          </a>
        </li>
        <li>
          <a href="/sales_model_training" class="<%= 'active' if current_page?('/sales_model_training') %>">
            <i class="bi bi-lightning"></i><span>模型調教歷程</span>
          </a>
        </li>
        <li>
          <a href="/sales_conclusion" class="<%= 'active' if current_page?('/sales_conclusion') %>">
            <i class="bi bi-check2-square"></i><span>管理意涵與營運策略</span>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://colab.research.google.com/drive/1gC92Upcka5wAzYh2HQAQkFxxO7fhs0uI?usp=sharing">
            <i class="bi bi-code-slash"></i><span>模型程式碼 &nbsp;&nbsp;<i class="bi bi-arrow-up-right-square" style="font-size: 10px;"></i></span>
          </a>
        </li>
      </ul>
    </li><!-- End Tables Nav -->

    <li class="nav-item">
      <a class="nav-link <%= 'collapsed' if !(current_page?('/review_intro') || current_page?('/review_core_model') || current_page?('/review_model_training') || current_page?('/review_conclusion')) %>" data-bs-target="#review" data-bs-toggle="collapse" href="#">
        <i class="bi bi-emoji-heart-eyes"></i><span>專題: 評價小組</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="review" class="nav-content collapse <%= 'show' if current_page?('/review_intro') || current_page?('/review_core_model') || current_page?('/review_model_training') || current_page?('/review_conclusion') %>" data-bs-parent="#sidebar-nav">
        <li>
          <a href="/review_intro" class="<%= 'active' if current_page?('/review_intro') %>">
            <i class="bi bi-file-earmark-font"></i><span>研究摘要(目的與動機)</span>
          </a>
        </li>
        <li>
          <a href="/review_model_training" class="<%= 'active' if current_page?('/review_model_training') %>">
            <i class="bi bi-lightning"></i><span>模型調教歷程</span>
          </a>
        </li>
        <li>
          <a href="/review_conclusion" class="<%= 'active' if current_page?('/review_conclusion') %>">
            <i class="bi bi-check2-square"></i><span>管理意涵與營運策略</span>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://colab.research.google.com/drive/1x5JeI271A7x3xtBlYvuifBFEUfONFrR3?usp=sharing">
            <i class="bi bi-code-slash"></i><span>模型程式碼 &nbsp;&nbsp;<i class="bi bi-arrow-up-right-square" style="font-size: 10px;"></i></span>
          </a>
        </li>
      </ul>
    </li><!-- End Charts Nav -->

    <li class="nav-item">
      <a class="nav-link  <%= 'collapsed' if !(current_page?('/logistics_intro') || current_page?('/logistics_core_model') || current_page?('/logistics_model_training') || current_page?('/logistics_conclusion')) %>" data-bs-target="#logistics" data-bs-toggle="collapse" href="#">
        <i class="bi bi-pin-map-fill"></i><span>專題: 物流小組</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="logistics" class="nav-content collapse <%= 'show' if current_page?('/logistics_intro') || current_page?('/logistics_core_model') || current_page?('/logistics_model_training') || current_page?('/logistics_conclusion') %>" data-bs-parent="#sidebar-nav">
        <li>
          <a href="/logistics_intro" class="<%= 'active' if current_page?('/logistics_intro') %>">
            <i class="bi bi-file-earmark-font"></i><span>研究摘要(目的與動機)</span>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://hackmd.io/@allencheng/logistics_analytics_changelog_1">
            <i class="bi bi-lightning"></i><span>模型調教歷程 ver.1&nbsp;&nbsp;<i class="bi bi-arrow-up-right-square" style="font-size: 10px;"></i></span>
          </a>
        </li>
        <li>
          <a href="/logistics_conclusion" class="<%= 'active' if current_page?('/logistics_conclusion') %>">
            <i class="bi bi-check2-square"></i><span>管理意涵與營運策略</span>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://colab.research.google.com/drive/1zxMIF82BegQ182hLIZ842Tqpp-DR2K5V?usp=sharing">
            <i class="bi bi-code-slash"></i><span>模型程式碼(final)&nbsp;&nbsp;<i class="bi bi-arrow-up-right-square" style="font-size: 10px;"></i></span>
          </a>
        </li>
      </ul>
    </li><!-- End Icons Nav -->

    <li class="nav-item">
      <a class="nav-link <%= 'collapsed' if !current_page?(predict_path) %>" href="<%= predict_path %>">
        <i class="bi bi-code-square"></i>
        <span>模型預測模擬器</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="https://github.com/allenCheng1984/ec_study" target="_blank">
        <i class="bi bi-github"></i>
        <span>專案程式碼 &nbsp;&nbsp;<i class="bi bi-arrow-up-right-square" style="font-size: 10px;"></i></span>
      </a>
    </li>
  </ul>

</aside><!-- End Sidebar-->
